{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "title__link_detail" %}{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/chart.min.js' %}"></script>
  <script src="{% static 'js/chartStatistic.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <h3 class="text-center mt-5">{% trans "link" %}: <a href="{% url 'redirects:redirect' link %}" target="_blank"><strong>{{ request.get_host }}/{{ link }}</strong></a></h3>
    <p class="text-center">({% trans "original" %}: <a href="{{ redirect.long_link }}" target="_blank"><strong>{{ redirect.long_link }}</strong></a>)</p>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col" class="w-25 text-center">{% trans "сreated" %}</th>
          <th scope="col" class="w-25 text-center">{% trans "transitions_are_available" %}</th>
          <th scope="col" class="w-25 text-center">{% trans "valid_for_days" %}</th>
          <th scope="col" class="w-25 text-center">{% trans "Password" %}</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row" class="w-25 text-center">{{ redirect.created_at }}</th>
          <td class="w-25 text-center">{% if redirect.validity_clicks %}{{ redirect.validity_clicks }}{% else %}<i>{% trans "unlimited" %}</i>{% endif %}</td>
          <td class="w-25 text-center">{% if redirect.validity_days %}{{ redirect.validity_days }}{% else %}<i>{% trans "unlimited" %}</i>{% endif %}</td>
          <td class="w-25 text-center">{% if redirect.password %}{{ redirect.password }}{% else %}<i>{% trans "absent" %}</i>{% endif %}</td>
        </tr>
      </tbody>
    </table>
    <div class="ms-auto me-auto mt-3">
      <p class="text-center mb-1">{% trans "statistics_for" %}:</p>
      <a href="{% url 'statistic:link_detail' link "day" %}" class="btn {% if period == "day" %}btn-dark{% else %}btn-outline-dark{% endif %}">{% trans "day" %}</a>
      <a href="{% url 'statistic:link_detail' link "month" %}" class="btn {% if period == "month" %}btn-dark{% else %}btn-outline-dark{% endif %}">{% trans "month" %}</a>
      <a href="{% url 'statistic:link_detail' link "year" %}" class="btn {% if period == "year" %}btn-dark{% else %}btn-outline-dark{% endif %}">{% trans "year" %}</a>
      <a href="{% url 'statistic:link_detail' link "all_time" %}" class="btn {% if period == "all_time" %}btn-dark{% else %}btn-outline-dark{% endif %}">{% trans "all_time" %}</a>
    </div>
    <p class="text-center mt-4">{% trans "total_number_of_clicks_during_the_period" %}: {{ clicks }}</p>
    <div class="row mt-2">
      <div class="col-lg-3 col-md-6 col-12 ms-auto me-auto mt-2">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center"><strong>{% trans "Browsers" %}</strong></h6>
            <canvas id="browserChart">
              <div class="d-none">
                {% for key, value in browser.items %}
                  <input type="hidden" data-key="{{ key }}" data-value="{{ value }}">
                {% endfor %}
              </div>
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 ms-auto me-auto mt-2">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center"><strong>{% trans "OS" %}</strong></h6>
            <canvas id="osChart">
              <div class="d-none">
                {% for key, value in os.items %}
                  <input type="hidden" data-key="{{ key }}" data-value="{{ value }}">
                {% endfor %}
              </div>
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 ms-auto me-auto mt-2">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center"><strong>{% trans "Countries" %}</strong></h6>
            <canvas id="countryChart">
              <div class="d-none">
                {% for key, value in country.items %}
                  <input type="hidden" data-key="{{ key }}" data-value="{{ value }}">
                {% endfor %}
              </div>
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 ms-auto me-auto mt-2">
        <div class="card">
          <div class="card-body">
            <h6 class="text-center"><strong>{% trans "Cities" %}</strong></h6>
            <canvas id="cityChart">
              <div class="d-none">
                {% for key, value in city.items %}
                  <input type="hidden" data-key="{{ key }}" data-value="{{ value }}">
                {% endfor %}
              </div>
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mb-0 mt-1">( <a href='https://db-ip.com'>{% trans "ip_geo_by_DB-IP" %}</a> )</p>
    <a href="{% url "statistic:download" link period %}" class="btn btn-outline-dark ms-auto me-auto mt-3 mb-3">{% trans "download_statistics_for_the_period" %}</a>
  </div>
{% endblock %}