[flake8]
inline-quotes=double
import-order-style=google
per-file-ignores = */migrations/*:E501,LN001,C812,DALL000
application-import-names=admin,api,core,datanar,homepage,qr_codes,redirects,statistic,users