{% load i18n %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
  <ul class="nav col-md-4 justify-content-start">
    <li class="nav-item"><a href="{% url 'homepage:service_rules' %}" class="nav-link px-2 text-body-secondary">{% trans "service_rules" %}</a></li>
    <li class="nav-item"><a href="{% url 'homepage:about' %}" class="nav-link px-2 text-body-secondary">{% trans "about" %}</a></li>
    <li class="nav-item"><a href="{% url 'api:api_docs' %}" class="nav-link px-2 text-body-secondary">{% trans "API" %}</a></li>
  </ul>

  <div class="nav col-md-4 justify-content-end">
    <div class="d-flex p-2 m-0">
      <p class="text-secondary me-2">(v {{ settings.VERSION }})</p><p>© {% now "Y" %} Datanar</p>
    </div>
  </div>
</footer>