{% load static %}
{% load i18n %}

<div class="d-flex border rounded-3 mt-2">
  <div class="flex-grow-1 p-3 d-flex flex-column">
    <div class="d-flex">
      {% include 'svg/link.svg' %}
      <a href="{% if '/' in link.message or '/' in link %}{{ request.scheme }}://{{ request.get_host }}{{ link }}{% else %}{% url 'redirects:redirect' link %}{% endif %}" target="_blank" class="h5">
        <strong class="d-block text-truncate link-card">{{ request.get_host }}{% if '/' not in link.message or '/' not in link %}/{% endif %}{{ link }}</strong>
      </a>
    </div>
    <div class="mt-1">
      <button class="copy-text-field btn btn-outline-dark" data-link="{{ request.scheme }}://{{ request.get_host }}{% if '/' not in link.message %}/{% endif %}{{ link }}">{% trans "copy" %}</button>
      {% if request.user.is_authenticated %}
        {% if '/' not in link.message or '/' not in link %}
          <a class="btn btn-outline-dark" href="{% url 'statistic:link_detail' link "all_time" %}">{% trans "statistic" %}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="vr h-auto"></div>
  <div>
    <div class="position-relative">
      <img class="img-fluid rounded-end" src="{% url 'qr_code:preview' link %}" height="105" width="105" alt="qr_code">
      <div class="overlay p-2 position-absolute border rounded-3 translate-middle">
        <div class="d-flex">
          <a href="{% url 'qr_code:download' 'svg' link %}" class="btn btn-outline-dark">SVG</a>
          <a href="{% url 'qr_code:download' 'jpg' link %}" class="ms-1 btn btn-outline-dark">JPG</a>
          <a href="{% url 'qr_code:download' 'png' link %}" class="ms-1 btn btn-outline-dark">PNG</a>
        </div>
      </div>
    </div>
  </div>
</div>