.list-group {
  width: 100%;
  max-width: 460px;
  margin-inline: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay{
  display:none;
  position: absolute;
}

.position-relative:hover .overlay{
  display: flex;
  flex-direction: column;
  top: -15% !important;
  left: 50% !important;
  background-color: var(--bs-tertiary-bg);
}

.cursor-pointer-event-none * {
    pointer-events: none;
}

.blur {
  filter: blur(5px);
}

.font-20 {
  font-size: 20px;
}