{% extends "base_empty.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "password_recovery" %}{% endblock %}

{% block body %}
  <div class="m-auto d-flex flex-column">
    <img class="mb-4 ms-auto me-auto" src="{% static 'img/favicon.ico' %}" alt="" width="72" height="72">
    <h1>{% trans "email_instructions_for_password_recove_sent" %}</h1>
    <a href="{% url 'homepage:home' %}" class="btn btn-primary ms-auto me-auto mt-4">{% trans "to_main" %}</a>
  </div>
{% endblock %}