{% extends "base_html.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "password_recovery" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
{% endblock %}

{% block js %}
  <script src="{% static 'js/footerYear.js' %}"></script>
{% endblock %}

{% block body %}
  {% trans "password_recovery" as password_recovery %}
  {% trans "reset" as reset %}
  {% include "includes/user_form.html" with title=password_recovery submit_text=reset %}
{% endblock %}