{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "title__homepage" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/homepage/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/card-style.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/copyText.js' %}"></script>
{% endblock %}


{% block content %}
  <div class="d-flex mt-5">
    <div class="ms-auto me-auto">
      {% include "includes/logo.html" %}
      <p>{% trans "short_description_under_logo" %}</p>
    </div>
  </div>
  <form class="mt-5" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6 ms-auto me-auto">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if forloop.first %}
          <div class="input-group mb-2">
            {{ field }}
            <input type="submit" class="btn btn-outline-dark" value="{% trans 'shorten' %}">
          </div>
        {% else %}
          {{ field }}
        {% endif %}
        {% if field.errors %}
          <div class="invalid-feedback">
            {{ field.errors|first }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </form>

  {% if messages %}
    <div class="list-group gap-2 ms-auto me-auto">
      {% for message in messages %}
        {% if message.level == 42 %}
          {% include "includes/link_card.html" with link=message %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}


{% endblock %}