{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "service_rules" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/homepage/style.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<h1 class="text-center mt-5">{% trans "datanar_rules" %}</h1>
<h3 class="text-center mb-5">{% trans "welcome_service_rules" %}</h3>
<br>
<h5>{% trans "rule_1" %}</h5>
<h5>{% trans "rule_2" %}</h5>
<h5>{% trans "rule_3" %}</h5>
<h5>{% trans "rule_4" %}</h5>
<br>
<h4 class="text-center mt-5">{% trans "service_rules_thanks_for_choosing_us" %}</h4>
{% endblock %}